//$sizes in rem
$sizes: (0.125, 0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 2.5, 3, 3.5, 4, 4.5, 5, 6, 8, 8.5, 10);

//border radius in px
$radius: (
    small: 4,
    medium: 6,
    default: 8,
    large: 12,
    xlarge: 16,
    xxlarge: 28,
    full: 100
);

//border radius weight in px
$border-weight: (
    sm: 1,
    md: 2,
    lg: 4,
    xl: 8
);

$themes: (
    light: (
        primary: var(--light-primary),
        text: var(--brand-black),
        inverted-text: var(--brand-white),
        text-secondary: var(--gray-dark),
        primary-gradient: var(--light-gradient),
        primary-tint: var(--light-tint),
        highlight: var(--light-highlight),
        highlight-background: var(--lighter-background-highlight),
        theme-black: var(--brand-black),
        theme-white: var(--brand-white),
        active: var(--light-active),
        info: var(--status-info),
        warning: var(--status-warning),
        critical: var(--status-critical),
        success: var(--status-success),
        success-light: var(--success-light),
        success-lighter: var(--success-lighter),
        success-alt: var(--success-alt),
        warning-light: var(--warning-light),
        warning-lighter: var(--warning-lighter),
        warning-alt: var(--warning-alt),
        critical-light: var(--critical-light),
        critical-lighter: var(--critical-lighter),
        critical-alt: var(--critical-alt),
        info-light: var(--info-light),
        info-lighter: var(--info-lighter),
        gray-100: var(--gray-100),
        gray-200: var(--gray-200),
        border: var(--gray-300),
        gray-400: var(--gray-400),
        light-bg: var(--brand-white),
        dark: var(--darker-tint),
        focus: var(--focus-tint),
        error: var(--error-tint),
        red-muted: var(--red-muted),
        red-light: var(--red-light),
        red-critical: var(--red-critical),
        green-muted: var(--green-muted),
        pathway: var(--gray-200),
        tint-background: var(--progress-tint),
        outline-shadow-1: var(--gray-500),
        outline-shadow-2: var(--gray-600),
        gradient-100: var(--gradient-100),
        theme-header: var(--lighter-background),
        fade-background: var(--background-tint),
        tint-100: var(--tint-100),
        gray-label: var(--gray-label),
        butter-fingers: var(--butter-fingers),
        seashell-peach: var(--seashell-peach),
        rurikon-blue: var(--rurikon-blue)
    ),
    dark: (
        primary: var(--dark-primary),
        text: var(--brand-white),
        inverted-text: var(--brand-black),
        text-secondary: var(--gray-light),
        primary-gradient: var(--dark-gradient),
        primary-tint: var(--dark-tint),
        highlight: var(--dark-highlight),
        theme-black: var(--brand-black),
        theme-white: var(--brand-white),
        active: var(--dark-active),
        info: var(--status-info),
        warning: var(--status-warning),
        critical: var(--status-critical),
        success: var(--status-success),
        success-light: var(--success-light),
        success-lighter: var(--success-lighter),
        success-alt: var(--success-alt),
        warning-light: var(--warning-light),
        warning-lighter: var(--warning-lighter),
        warning-alt: var(--warning-alt),
        critical-light: var(--critical-light),
        critical-lighter: var(--critical-lighter),
        critical-alt: var(--critical-alt),
        info-light: var(--info-light),
        info-lighter: var(--info-lighter),
        gray-100: var(--gray-100),
        gray-200: var(--gray-200),
        border: var(--gray-300),
        gray-400: var(--gray-400),
        light-bg: var(--brand-white),
        dark: var(--focus-tint),
        focus: var(--focus-tint),
        error: var(--error-tint),
        red-muted: var(--red-muted),
        green-muted: var(--green-muted),
        pathway: var(--gray-400),
        tint-background: var(--progress-tint),
        outline-shadow-1: var(--gray-light),
        outline-shadow-2: var(--gray-light),
        gradient-100: var(--gradient-100),
        theme-header: var(--gray-400),
        fade-background: var(--background-tint),
        tint-100: var(--tint-100),
        gray-label: var(--gray-label),
        butter-fingers: var(--butter-fingers),
        seashell-peach: var(--seashell-peach),
        rurikon-blue: var(--rurikon-blue)
    )
);
